# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=password

# Server Configuration
PORT=3000
NODE_ENV=development

HT_API_KEY=<from_dashboard>
HT_SERVICE_ID=<from_dashboard>
HT_EXPORTER_URL=<from_dashboard>